{% extends "base.html" %}

{% block content %}

<!--====== PRELOADER PART ENDS ======-->
<div id="main">
    <!-- Breadcrumb Area start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-hrading">Cart Page</h1>
                        <ul class="breadcrumb-links">
                            <li><a href="#">Home</a></li>
                            <li>Cart</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->
    <!-- cart area start -->
    <div class="cart-main-area mtb-60px">
        <div class="container">
            <h3 class="cart-page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="table-content table-responsive cart-table-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Until Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for item in cart %}
                                        {% with product=item.product %}
                                            <tr>
                                                <td class="product-thumbnail">
                                                    <a href="#"><img class="cart_img" src="{{ product.url }}" alt="" /></a>
                                                </td>
                                                <form action="/cart/add" method="post">
                                                    <td class="product-name"><a href="#">{{ product.name }}</a></td>
                                                    <td class="product-price-cart"><span class="amount">{{ product.price }}</span></td>
                                                    <td class="product-quantity">
                                                        <span class="cart_quantity">
                                                            <input type="hidden" name="id" placeholder="id" value="{{product.id}}" />
                                                            <input type="hidden" name="update" placeholder="update" value="True" />
                                                            <input class="cart_quantity" type="number" name="quantity" placeholder="quantity" value="{{item.quantity}}" />
                                                        </span>
                                                    </td>
                                                    <td class="product-subtotal">{{ item.total_price }}</td>
                                                    <td class="product-remove">
                                                        <input id="refresh_submit" style="display:none;" type="submit" value="Update">
                                                        <a id="refresh_icon" href="#">
                                                          <i class="fa fa-refresh"></i>
                                                        </a>
                                                        <a href="/cart/remove/{{product.id}}"><i class="fa fa-times"></i></a>
                                                    </td>
                                                </form>
                                            </tr>
                                        {% endwith %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a href="/product">Continue Shopping</a>
                                    </div>
                                    <div class="cart-clear">
                                        <a href="/cart/remove_all">Clear Shopping Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="discount-code-wrapper">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gray">Use Coupon Code </h4>
                                    </div>
                                    <div class="discount-code">
                                        <p>Enter your coupon code if you have one.</p>
                                        <form action="/coupon/apply" method="post">
                                            <input type="text" name="code" placeholder="apply your coupon" />
                                            <input style="display:none;" id="coupon_submit" type="submit" value="Apply">
                                            <button class="cart-btn-2" id="coupon_button" type="submit"> Apply Coupon </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="grand-totall">
                                    <div class="title-wrap">
                                        <h4 class="cart-bottom-title section-bg-gary-cart">Cart Total</h4>
                                    </div>
                                    <h5>Total products <span>{{ cart.get_total_price() }}</span></h5>
                                    {% if cart.coupon %}
                                        <h4 class="grand-totall-title">
                                            <td>{{ cart.coupon.code }} coupon ({{ cart.coupon.discount }}% off)</td>
                                            <span>{{ cart.get_total_price_after_discount()}} &nbsp;$</span></h4>
                                    {% endif %}
                                    <a href="/order/create_order">Proceed to Checkout</a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- cart area end -->
</div>
{% include "sub-product-list/alsoLiked.html" %}

{% endblock %}

{% block domready %}
  $("#refresh_icon").on('click',function(e){
    var ddd=$(this);
    console.log("ddddd");
    ddd.parent().parent().children(".product-remove").children("#refresh_submit").click()
  })

  $("#coupon_button").on('click',function(e){
    var ddd=$(this);
    console.log("ddddd");
    ddd.parent().children("#coupon_submit").click()
  })
{% endblock %}
