<!-- Recent Add Product Area Start -->
<section class="recent-add-area">
    <div class="container">
        <!-- Recent Product slider Start -->
            <div class="row">
                <div class="col-md-12">
                    <!-- Section Title -->
                    <div class="section-title">
                        <h2>You Might Also Like</h2>
                        <p>Add Related products to weekly line up</p>
                    </div>
                    <!-- Section Title -->
                </div>
            </div>
            {% for product in recommended_products %}
                <div class="recent-product-slider owl-carousel owl-nav-style owl-loaded owl-drag">
                    <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1440px;"><div class="owl-item active" style="width: 210px; margin-right: 30px;"><article class="list-product">
                            <div class="img-block">
                                <a href="single-product.html" class="thumbnail">
                                    <img class="first-img" src="{{product.url}}" alt="">
                                </a>
                                <div class="quick-view">
                                    <a class="quick_view" href="#" data-link-action="quickview" title="Quick view" data-toggle="modal" data-target="#exampleModal">
                                        <i class="ion-ios-search-strong"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="product-decs">
                                <h2><a href="/product/{{product.id}}/{{product.slug}}" class="product-link">{{product.description}}</a></h2>
                                <div class="rating-product">
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                    <i class="ion-android-star"></i>
                                </div>
                                <div class="pricing-meta">
                                    <ul>
                                        <li id="current-price">{{product.price}} $</li>
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="owl-nav disabled"><div class="owl-prev disabled">prev</div>
                    <div class="owl-next disabled">next</div>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    <!-- Recent product slider end -->
    </div>
</section>
<!-- Recent product area end -->